.sidenav {
    height: 100%;
    width: 0px;
    position: absolute;
    z-index: 1;
    top: 100;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin: 0;
    padding: 0;
    list-style: none;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.sidenav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidenav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidenav li:first-child a {
    color: #fff;
    background-color: #1a1a1a;
}
.sidenav li:nth-child(2):before {
    background-color: #ec1b5a;
}
.sidenav li:nth-child(3):before {
    background-color: #79aefe;
}
.sidenav li:nth-child(4):before {
    background-color: #314190;
}
.sidenav li:nth-child(5):before {
    background-color: #279636;
}
.sidenav li:nth-child(6):before {
    background-color: #7d5d81;
}
.sidenav li:nth-child(7):before {
    background-color: #ead24c;
}
.sidenav li:nth-child(8):before {
    background-color: #2d2366;
}
.sidenav li:nth-child(9):before {
    background-color: #35acdf;
}
.sidenav li:hover:before,
.sidenav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidenav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
}

.sidenav li a:hover,
.sidenav li a:active,
.sidenav li a:focus,
.sidenav li.open a:hover,
.sidenav li.open a:active,
.sidenav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}
.sidenav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}
.sidenav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}



.sidenav .closebtn {
    position: absolute;
    line-height: 0px;
    right: 25px;
    font-size: 40px;
    margin-left: 50px;
    padding-top: 0px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
